<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/fa83cb94-d764-46ab-ac87-793c08e140eb/resourcegroups/VendingManager-RG/providers/Microsoft.ContainerRegistry/registries/VendingManager20251111020447</ContainerResourceId>
    <ContainerResourceName>VendingManager20251111020447</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>vendingmanager20251111020447.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>vendingmanager</ContainerName>
    <EnvironmentName>VendingManager-env-20251111020003</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://vendingmanager-app-bz.ashymushroom-482d0536.polandcentral.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fa83cb94-d764-46ab-ac87-793c08e140eb/resourceGroups/VendingManager-RG/providers/Microsoft.App/containerApps/vendingmanager-app-bz</ResourceId>
    <ResourceGroup>VendingManager-RG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>