<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/fa83cb94-d764-46ab-ac87-793c08e140eb/resourceGroups/VendingManager-RG/providers/Microsoft.ContainerRegistry/registries/vendingmanagerbz123</ContainerResourceId>
    <ContainerResourceName>vendingmanagerbz123</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>vendingmanagerbz123.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>vendingmanager-app-bz123</ContainerName>
    <EnvironmentName>managedEnvironment-VendingManagerR-8947</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://vendingmanager-app-bz123.purpleflower-915564b1.polandcentral.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fa83cb94-d764-46ab-ac87-793c08e140eb/resourceGroups/VendingManager-RG/providers/Microsoft.App/containerapps/vendingmanager-app-bz123</ResourceId>
    <ResourceGroup>VendingManager-RG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>